html, body, #root {
  height: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(52,201,121);
  background: linear-gradient(90deg, #008579 0%, #23356c 80%);
}
