.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(52,201,121);
  background: linear-gradient(90deg, rgba(52,201,121,1) 0%, rgba(42,29,156,1) 80%);
}
