.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(1,1,1,0.5);
  color: white;
}

.Header-links, .Header-search, .Header-logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Header-menu-button {
  align-self: start;
}