.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(1,1,1,0.5);
  color: white;
  padding: 30px 10px;
}

.Header-menu-button {
  align-self: start;
}

.Header-links {
  display: flex;
  align-items: center;
  background:
  #00a3bd;
  border-radius: calc(1em + 20px + 4px);
  border: 2px solid #00a3bd;
  font-weight: bold;
}

.Header-links a {
  padding: 10px 30px;
}

.Header-links a:visited, .Header-links a:link {
  color: white;
  text-decoration: none;
}

.Header-links a.active {
  background: #008892;
}