.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.Footer-left {
  flex-basis: 40%;
  padding: 10px 20px;
  background-color: rgba(1,1,1,0.3);
}

.Footer-middle {
  flex-basis: 40%;
  padding: 10px;
  background-color: rgba(1,1,1,0.5);
}

.Footer-right {
  flex-basis: 20%;
  padding: 10px 20px;
  background-color: rgba(1,1,1,0.3);
}
