.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer-left {
  flex-basis: 40%;
  padding: 10px 20px;
}

.Footer-middle {
  flex-basis: 40%;
  padding: 10px;
}

.Footer-right {
  flex-basis: 20%;
  padding: 10px 20px;
}
