.ContactsTable {
  flex-grow: 1;
}

.ContactsTable > table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
}

.ContactsTable thead {
  color: white;
}

.ContactsTable .NameColumn {
  background: #0086a5;
  width: 17.5%;
  cursor: pointer;
}
.ContactsTable .SurnameColumn {
  background: #0090ae;
  width: 17.5%;
}
.ContactsTable .CityColumn {
  background: #0099b8;
  width: 17.5%;
}
.ContactsTable .EmailColumn {
  background: #00aecc;
  width: 20%;
}
.ContactsTable .PhoneColumn {
  background: #00b8d5;
  width: 17.5%;
}
.ContactsTable .ContactActionColumn {
  background: #00c2df;
  width: 10%;
}

.ContactsTable tbody tr {
  background: white;
}
.ContactsTable tbody tr:hover {
  background: #e3f7f9;
  cursor: pointer;
}

.ContactsTable tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(1,1,1,0.1);
}

.ContactsTable thead .cell {
  padding: 20px;
  white-space: nowrap;
}

.ContactsTable tbody .cell {
  padding: 12px;
  white-space: nowrap;
}

.NameColumn, .SurnameColumn, .EmailColumn, .EmailColumn, .PhoneColumn {
  border-right: 1px solid rgba(1,1,1,0.1);
}

.NameColumn, .SurnameColumn, .CityColumn, .EmailColumn {
  text-align: start;
}
.PhoneColumn, .Phone.cell {
  text-align: right;
}

.ContactActions.cell {
  display: flex;
}